<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<style type = 'text/css'>
    #title_ { 
        color: white;
        background-color: rgb(6, 170, 6);
        font-size: 25pt;
        font-weight: bold;
    }
    .font_ {
        color: rgb(6, 170, 6);
        font-size: 25pt;
        font-weight: bold;
    }
    .gap-30 {
        width:100%;
        height:30px;
	  }
    .gap-15 {
        width:100%;
        height:15px;
	  }
    #border {
        border: 1px solid orange;
    }
</style>

<body>
    <nav class="navbar navbar-default" style="background-color: lightgrey;">
        <div class="container-fluid">
            <a id="title_" class="navbar-brand">Stock Prediction</a>
        </div>
    </nav>
    <script>
        d3.select('body')
        .append('h5')
        .text('Select Stock');
    
        var data = {{data|tojson}};
        var acc = {{acc|tojson}};
        var act = {{act|tojson}};
        var names = {{names|tojson}};
        var sent = {{sent|tojson}};

        d3.select("body")
        .append("select")
        .attr("id", "stockPicker")
        .selectAll("option")
        .data(d3.map(acc, function(d){return d;}).keys().sort(d3.ascending))
        .enter()
        .append("option")
        .text(function(d) {return d;})
        .attr("value", function(d) {
            return data[d];
            });

        function graphSomething(stockName) {
            var stocks = Object.keys(data[0]);
            var d3 = Plotly.d3;
            d3.select('#graph').remove();
            d3.select('svg').remove();
            
            var WIDTH_IN_PERCENT_OF_PARENT = 100,
                HEIGHT_IN_PERCENT_OF_PARENT = 100;

            var gd3 = d3.select('body')
                .append('div')
                .attr('id','graph')
                .style({
                    width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                    'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',
            
                    height: HEIGHT_IN_PERCENT_OF_PARENT + 'vh',
                    'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
                });

            var gd = gd3.node();    
            
            var score = [];
            var predicted = [];
            var date = [];
            var actual = [];
            for (var j = 0; j < data.length; j++) {
                var dt = data[j];
                for (var i = 0; i < stocks.length; i++) {
                    if (stocks[i] == stockName) {
                        date.push(dt['Date']);
                        predicted.push(dt[stocks[i]].toFixed(2));
                        score.push(parseFloat(acc[stocks[i]]));
                        actual.push(parseFloat(act[j][stocks[i]]).toFixed(2));
                    };
                };
            };
            Plotly.plot(gd, [{
                x: date,
                y: predicted,
                marker: {color: 'Teal'},
                type: 'scatter',
                name: 'Prediction'
                },
                {x: date,
                y: actual,
                marker: {color: 'Red'},
                type: 'scatter',
                name: 'Actual'
                }], {
                title: 'Accuracy Score for ' + names[stockName] + ' is ' + (score[0]*100).toFixed(2) + '%',
                font: {
                    size: 12
                }
                });
            window.onresize = function() {  
                Plotly.Plots.resize(gd);
            };
            d3.select("body")
            .append('p')
            .text(sent[stockName]);
        };        

    graphSomething('AAPL');

    d3.select("#stockPicker")
    .on("change", function(d) {
        var selectedText = d3.select('#stockPicker option:checked').text();
        d3.select('p').remove();
        graphSomething(selectedText);
    });
    </script>  
</body>
</html>